/* You need to create the rest of styles for the layout shown */

.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed black(207, 138, 11);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5em 0.5em 0.5em rgb(white);
    background-image: radial-gradient(white, grey);
}



