@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@font-face {
  font-family: "Metal Mania";
  src: url(/fonts/MetalMania-Regular.ttf);
}

/*Typography
--------------------------------------------------------------*/
body {
  background-image: radial-gradient(silver, black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Metal Mania";
	font-size: 20px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Metal Mania";
  letter-spacing: 2px;
  font-size: x-large;
}

ul {
    font-family: "Metal Mania";
    list-style-type: none;
    padding-inline-start: 0.25rem;
}

#orderButton {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(5, 5, 5);
    color: lightgoldenrodyellow;
    font-size: 1.5rem;
}

.options {
  font-size: large;
  height: 20rem;
  display: flex;
  flex-direction: row;
  border-radius: 20%;
  justify-content: space-around;
}

h1 {
  font-size: xxx-large;
  text-align: center;
}

.choices {
display: flex;
}

.customOrders {
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

.catRing {
  height: 20em;
  border-radius: 15%;
}

.silverRing {
  height: 15em;
  border-radius: 15%;
}

.skelete {
  height: 10em;
  border-radius: 15%;
  align-items: center;
}